.inpu{

    width: 250px;
   text-align:center;
   padding-bottom: 100px;
   margin-top: 60px;
   margin-right: 60px;
    
}
.input1{
float: right;
}
.far{
   
    color: white;
    font-size: 19px;
}
.fab{
    margin-left: 26px;
    margin-top: 20px;
    color: white;
    font-size: 26px;
}
.gh{
    padding: 60px;
    border: 1px solid rgb(245, 240, 240);
    border-radius: 10px;
}
.ff{
    background-image: url(../imgs/Rectangle\ 51@2x.png);
    background-size: 100% 100%;
    width: 560px;
    height: 400px;
   
}
.photo1{
   
    margin-right: auto;
    margin-left: auto;
    display: block;
   padding: 10px;
   margin-top: 100px;
}
.roww{
    padding: 20px 10px 20px 10px;
}
.form-control{
    background-color: rgb(158, 33, 33);
    width: 400px;
}
.input-group{
    margin-top:40px;
}
.input-group-text{
    background-color: rgb(158, 33, 33);
}
.fas{
    color: white;
}
.dan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 6%;
    margin-top: 60px;
}
.rectphoto{
    width: 20px;
    border-radius: 90px;
}
.asa{
    color: white;
    margin-top: 20x;
    font-size: 20px;
}
.asa:hover{
    text-decoration: none;
    color: white;
}
.sizepho{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 90px;
    background-color: white;
}
.input3{
    margin: 30px;
    border-radius: 30px;
    width: 200px;
}
.input4{
    border-radius: 30px;
    margin: 60px;
    text-align: center;
}
.servic{

    width: 170px;
    height: 30px;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 30px;
}
.whi{
    color: rgb(22, 21, 21);
    background-color: white;
    width: 100px;
    height: 30px;
    margin-right: 70px;
    margin-top: 29px;
    border-radius: 30px;
    
}
.whi:hover{
    background-color: white;
    color: black;
}

.ds{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
    margin-bottom: 120px;
    background-repeat: no-repeat;
}
.dse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}
.dse .{
    margin-right: ;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.card-img-top:hover{
    opacity: 0.7;
    
}
.coloricon{
    color: red;
}
.card-title{
    text-align: center;
}
.ret{
    position: absolute;
    top: 80px;
    display: block;
    margin-right: 90px;
    transition: .5s ;
    z-index: 2;
    opacity: 0;
}
.ret:hover{
    opacity: 0.9;
}

.cae{
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.dar{
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border-color: orangered;
   border-radius: 30px;
   text-decoration: none;
}
.dar:hover{
    text-decoration: none;
}
.darr{
    display: block;
    margin-left: auto;
    margin-right: auto;
   border-color: rgb(228, 217, 214);
   border-radius: 30px;
   width: 280px;
   height: 40px;
   border: none;
}
.dw{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -130px;
}
.rounded-circle{
    width: 80px;
    height: 80px;
    margin-bottom: 60px;
    margin-top: 50px;
}
.dropdown{
    top: 90px;
    padding: 1% 9%;
    left: 30px;
    
   
}
.dropdown-toggle{
    width: 120px;
   
}
.-color{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-right: 1px;
}